#{
  otp_version => <<"29.0.4">>,
  otp_release => <<"29">>,
  erts_version => <<"17.0.4">>,
  system_architectures => [<<"x86_64-pc-linux-gnu">>],
  production_boundary => erlang_abstract_format,
  compiler_interface => {compile, forms, 2},
  validation_options => [strong_validation, return_errors, return_warnings],
  compiler_options => [
    binary,
    deterministic,
    no_debug_info,
    no_docs,
    return_errors,
    return_warnings
  ]
}.
